section {
  margin-bottom: 2rem;
}

.input {
  border: 1px solid #0000003a;
  border-radius: 25px;
  height: 40px;
  padding: 0 1rem;
  width: 50%;
  margin-right: 1rem;
  font-size: 16px;
}

.input:focus {
  border: 1px solid #2629db;
}

.content_wrapper {
  display: flex;
  gap: 0.5rem;
}

.content_box {
  width: 50%;
}

.subheading {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 1rem;
  font-weight: 500;
  min-height: 45px;
}

@media screen and (max-width: 600px) {
  .content_wrapper {
    flex-wrap: wrap;
  }
  
  .content_box {
    width: 100%;
  }
}